#wrapper {
  width: 60%;
  margin-left: 10%;
  margin-right: 30%;
  border: 2px solid blue;
}
#epic_form{
  margin-left: 35%;
  margin-right: 35%;
}
 #epic_form input {
  width: 250px;
  height: 100px;
  background-color: blue;
  color: #fff;
  border-radius: 10px;
  font-size: 1.3em;
}
#reset{
  margin-left: 60%;
}
#reset input{
  width: 100px;
  height: 50px;
  background-color: red;
  color: #fff;
  border-radius: 10px;
}
#display {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
  margin-top: 20px;
}
